<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.dao.EmployeeMapper">
    <select id="getEmpById" resultType="com.atguigu.mybatis.bean.Employee">
        select id, last_name lastName, email, gender, empStatus
        from tbl_employee
        where id = #{id}
    </select>

    <select id="getEmps" resultType="com.atguigu.mybatis.bean.Employee">
        select id, last_name lastName, email, gender
        from tbl_employee
    </select>

    <insert id="addEmp" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_employee (last_name, email, gender, empStatus)
        values (#{lastName}, #{email}, #{gender}, #{empStatus})
    </insert>

    <!--statementType="CALLABLE"：表示调用存储过程；调用格式：{call procedure_name(params)}-->
    <select id="getPageByProcedure" statementType="CALLABLE" databaseId="oracle">
        {call hello_test(#{start,mode=IN,jdbcType=INTEGER}, #{end,mode=IN,jdbcType=INTEGER}, #{count,mode=OUT,jdbcType=INTEGER}, #{emps,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=PageEmp})}
    </select>
    <resultMap id="PageEmp" type="com.atguigu.mybatis.bean.Employee">
        <id column="employee_id" property="id"/>
        <result column="last_name" property="lastName"/>
        <result column="email" property="email"/>
    </resultMap>
</mapper>